<div class="form-group hint">
  <button id="addAudio" (click)="onShowAudioClick()">Choisir un audio</button>
  <div id="audio-hints-container" *ngFor="let fileName of fileNames; index as i">
    <div class="audio-hints">
      <div class="audio-hint-order">
        <button (click)="moveUp(i)">&#x25B2;</button> <!-- Unicode for arrow up -->
        <button (click)="moveDown(i)">&#x25BC;</button> <!-- Unicode for arrow down -->
      </div>
      <div class="audio-hints-container">
        <span>{{ fileName }}</span>
        <audio controls [src]="displayedAudios[i]"></audio>
        <div id="audio-hint-buttons">
          <button class="hint-buttons" id="delete-button" (click)="onDeleteButtonClick(i)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <input #fileInput type="file" class="form-control hidden" accept="audio/*" (change)="onFileChange($event)">
</div>
