.form-group {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px 0;
  background-color: #f9f9f9;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#audio-hints-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#audio-hint-order {
  display: flex;
}

.audio-hints {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}



input[type="number"] {
  width: 20%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.hint-buttons {
  padding: 10px 15px;
  background-color: #302B63FF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: 2px solid #302B63FF;
  margin: 5px;
}

#audio-hint-order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-buttons:hover {
  background-color: white;
  color: black;
  border: 2px solid #302B63FF;
}

#hint {
  font-size: 30px;
}
.hidden {
  display: none;
}

#addAudio {
  padding: 10px 15px;
  background-color: #302B63FF;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  border: 2px solid #302B63FF
}

#addAudio:hover {
  background-color: white;
  color: black;
  border: 2px solid #302B63FF;
}
#preview{
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#text-hint {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.hint{
  width: 500px;
}

.audio-hints-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}