@import "../../../styles/nav-bar.scss";

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filter {
    font-size: 100%;
}

.input-custom {
    font-size: 100%;
}