<div class="navigate-container">
    
    <div class="filter-menu">
        <p>Filtrer par :<p>
        <select name="filtrer" class="filter" (change)="filterList($event)">
            <option value="Date" selected>Date d'ajout</option>
            <option value="Nombre">Nombre de questions</option>
            <option value="Alphabetique">Alphabétique</option>
            <option value="Theme">Thème</option>
        </select>
        <select name="filtrer2" class="filter" (change)="changeFilter($event)">
            <option value="Croissante" selected>Croissante</option>
            <option value="Décroissante">Décroissante</option>
        </select>
    </div>

    <div class = "search-bar">
        <p>Rechercher :</p>
        <input class="input-custom" type="text" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)">
    </div>


</div>
