<div class="form-group hint">
  <input #textInput type="text" class="form-control" (change)="onTextChange($event)">
  <button id="addText" (click)="onShowTextClick()">Ajouter un texte</button>
  <div id="text-hints-container" *ngFor="let textHint of textHints; index as i">
    <div class="text-hints">
      <div class="text-hint-order">
        <button (click)="moveUp(i)">&#x25B2;</button> <!-- Unicode for arrow up -->
        <button (click)="moveDown(i)">&#x25BC;</button> <!-- Unicode for arrow down -->
      </div>
      <div class="text-block">
        <span>{{ textHint }}</span>
        <div id="text-hint-buttons">
          <button class="hint-buttons" id="delete-button" (click)="onDeleteButtonClick(i)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
