<div (click)="selectUser()" class="card" *ngIf="user">
    <div class="picture_and_name">
        <img *ngIf="user?.profile_picture" class="user_picture" [src]="user?.profile_picture">
        <h1>
            <span>{{user.first_name}} {{user.last_name}}</span>
        </h1>
    </div>
    <div class="birth_date">
        <h2> 
            <span>{{user.birth_date_day}} {{user.birth_date_month}} {{user.birth_date_year}}</span>
        </h2>
    </div>
    <div class="buttons-card">
        <button class="button-card" (click)="navigateToQuizList()">QUIZ</button>
        <button class="button-card" (click)="navigateToStats()">STATISTIQUES</button>
        <button class="button-card" (click)="modifieUser()">MODIFIER</button>
    </div>
</div>