<div class="review-question">
    <div class="stats">
        <span>Temps passé sur la question: {{questionStats?.timeMinutes}} min {{questionStats?.timeSeconds}} s</span>
        <span>Nombre d'indices utilisés: {{questionStats?.numberOfCluesUsed}}</span>
        <span>Nombre de mauvaises réponses: {{questionStats?.numberOfBadAnswers}}</span>
    </div>
    <div class="question">
      <span>{{questionStats?.question}}</span>
    </div>
    <div class="answer-container">
      <app-statistic-answer-stats *ngFor="let answer of questionStats?.answerStats" [answerStats]="answer"></app-statistic-answer-stats>
    </div>
</div>
  