<!-- statistic-data.component.html -->

<div class="statistic-data">
  <div class="chart-container">
    <div *ngIf="stats.length > 0">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="chart"></highcharts-chart>
    </div>
    <div *ngIf="stats.length === 0">
      <p>L'intervalle donné ne contient aucune donnée existante (vérifiez vos filtres).</p>
    </div>
  </div>
  <div class="filters">
    <div class="date-filter">
      <label for="startMonth">Mois de début :</label>
      <select id="startMonth" [(ngModel)]="startMonth">
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>

      <label for="startYear">Année de début :</label>
      <input id="startYear" type="number" [(ngModel)]="startYear" />
    </div>

    <div class="date-filter">
      <label for="endMonth">Mois de fin :</label>
      <select id="endMonth" [(ngModel)]="endMonth">
        <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
      </select>

      <label for="endYear">Année de fin :</label>
      <input id="endYear" type="number" [(ngModel)]="endYear" />
    </div>

    <button (click)="filterData()">Filtrer</button>
  </div>
</div>
