.statistic-data {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    padding-top: 1%;
    padding-bottom: 2%;
}

p {
    text-align: center;
}


.completed-quizzes, .clues, .times {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 1%;
}

.numeric-data>div {
    margin-top: 2%;
    margin-bottom: 2%;
}

.clues-l {
    margin-left: 13.5%;
}

.times-l {
    margin-left: 15%;
}


