@import '../../../styles/card.scss';

.questions {
    margin-top: 10%;
    padding-bottom: 1%;
}

button {
    top: 14%;
    font-size: 80%;
    cursor: pointer;
    background-color: $logo-color;
    border-radius: 10px;
    border: 10px solid $logo-fade;
    color: orangered;
    opacity: 0.6;
    width: 12%;
    text-align: center;
    position: fixed;
    padding: 1%;
}

