<div class="navigate-container">
  <h2>Liste des quiz de {{userCompleteName}}</h2>
  <button type="button" class="button-add" (click)="openMenu()">Ajouter un quiz existant</button>
</div>
<div class="menu" [class.open]="menuOpen">
  <div class="button-container">
    <button type="button" class="button" (click)="addSelectedQuizzes()">Ajouter quiz sélectionné(s)</button>
    <button type="button" class="button" (click)="closeMenu()">Retour</button>
  </div>
  <div class="filter-bar">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="quiz-list card-container">
    <div class="quiz" *ngFor="let quiz of allQuiz">
    <app-quizmini (click)="toggleSelectedQuiz(quiz)" [selected]="isSelected(quiz)" [quiz]="quiz"></app-quizmini>
  </div>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{quizForm.getRawValue() | json}}-->