<div class="navigate-container">
  <h2>Ajouter un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <div class="input-row">
      <div class="input-group">
        <label for="title">Title</label>
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
      </div>
      <div class="input-group">
        <label for="theme">Theme</label>
        <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
      </div>
      <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
    </div>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{quizForm.getRawValue() | json}}-->