@import '../../../styles/nav-bar.scss';
@import '../../../styles/variables';
@import "../../../styles/card-container.scss";
//@import '../../../styles/default-container';

.navigate-container {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.input-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
  
.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-left: 30px;
}
  
.input-group label {
    margin-right: 10px;
}

.menu {
    //margin top and bottom 
    background-color: #333;
    margin: 1vh 0;
    position: fixed;
    right: 0;
    width: 0;
    height: 90vh; 
    overflow: hidden;
    transition: width 0.3s ease;
    z-index: 2;
  }
  
.menu.open {
    width: 40vw;
}

  

