<div class="game-question">
  <div *ngIf="isFinished; else elseBlock">
    <app-game-end-page></app-game-end-page>
  </div>
  <ng-template #elseBlock>
    <div class="question">
      <span>{{question?.question}}</span>
    </div>
    <div class="clue" *ngIf="gameService.observable$.value.clueActive">
      <app-game-clue [clue]="clue"></app-game-clue>
    </div>
    <div class="answer-container">
      <app-game-answer *ngFor="let answer of question?.answers" [answer]="answer" (answerSelected)="handleAnswerSelected($event)"></app-game-answer>
    </div>
      <button class="indice-button" *ngIf="gameService.observable$.value.clueNumber < gameService.observable$.value.question.clues.length-1" (click)="handleClueUsed()">Indice</button>
  </ng-template>
</div>
