<div class="navigate-container">
    
    <div class="filter-menu">
        <p>Filtrer par :<p>
        <select name="filtrer" class="filter">
            <option value="Date" selected>Date d'ajout</option>
            <option value="Priorité">Priorité</option>
            <option value="Nom">Nom Prénom</option>
            <option value="Birth">Date de naissance</option>
        </select>
    </div>

    <div class = "search-bar">
        <p>Rechercher </p>
        <input class="input-custom" type="text">
    </div>

    <div class="button-container">
        <button class="add-user-button">+</button>
    <div>

</div>