  <div class="default-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text" formControlName="first_name">
        </div>

        <div>
            <label for="last_name">Last Name:</label>
            <input id="last_name" type="text" formControlName="last_name">
        </div>

        <div>
            <label for="birth_date">Birthdate:</label>
            <input id="birth_date" type="date" formControlName="birth_date">
        </div>

        <div>
            <label for="alzheimerStage">Alzheimer's Stage:</label>
            <input id="alzheimerStage" type="number" formControlName="alzheimerStage">
        </div>

        <div>
            <label for="profilepicture">Photo de profile:</label>
            <input id="profilepicture" type="file" formControlName="profilepicture">
        </div>

        <div>
            <button type="submit">Create User</button>
        </div>

    </form>
</div>
