@import '../../../styles/card.scss';

button {
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    border-radius: 10px;
    border: 10px solid $logo-fade;
    color: orangered;
    opacity: 0.6;
    background-color: $logo-color;
    cursor: pointer;
    height: 25%;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    padding: 1%;
}

p, span {
    margin: auto;
}
