<div class="form-container">
    <div class="form-group">
      <label id="qT"for="questionTitle">Intitulé de la question</label>
      <input type="text" id="questionTitle" class="form-control">
    </div>
  <app-answers-container></app-answers-container>
    <div class="form-group hint-container">
      <label id="hint" for="hints">Indices</label>
      <app-text-hint-container></app-text-hint-container>
      <app-image-hint-container></app-image-hint-container>
      <app-audio-hint-container></app-audio-hint-container>
   </div>
  <button type="submit" class="btn btn-success">Valider</button>
  <button type="reset" class="btn btn-danger">Annuler</button>
</div>
