<div class="button-container">
<button class="confirm-button" (click)="addQuiz()">Valider</button>
</div>
<div class="form-container">
<div class="form">
  <label id="qT"for="quizTitle">Titre du Quiz</label>
  <input type="text" id="quizTitle" class="input" [(ngModel)]="quizTitle" (change)="handleQuizChange($event)">
  <label id="qTh"for="quizTheme">Thème du Quiz</label>
  <input type="text" id="quizTheme" class="input" [(ngModel)]="quizTheme" (change)="handleQuizChange($event)">
</div>
</div>
<app-questions-list (questionsUpdated)="handleQuestionsUpdated($event)"></app-questions-list>
