<div class="navigate-container">
    
    <div class="filter-menu">
        <p>Filtrer par :<p>
        <select name="filtrer" class="filter" (change)="filterList($event)">
            <option value="Nom" selected>Nom</option>
            <option value="Theme">Thème</option>
            <option value="Date">Date</option>
            <option value="SuccessRate">Taux de réussite</option>
        </select>
        <select name="filtrer2" class="filter" (change)="changeFilter($event)">
            <option value="Croissante" selected>Croissante</option>
            <option value="Décroissante">Décroissante</option>
        </select>
    </div>

    <div class = "search-bar">
        <p>Rechercher </p>
        <input class="input-custom" type="text">
    </div>

</div>