.navigate-container {
    text-align: center; /* Centrer le contenu dans le container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-custom {
    width: 60%;
    margin-left: 1%;
    font-size: 150%;
}

.filter {
    width: 100%;
    margin-left: 2%;
    font-size: large;
}


.filter-menu, .search-bar {
    display: flex;
    align-items: center;
    width: 33%;
    margin-left: 2%;
}

.search-bar {
    justify-content: center;
    width: 50%;
}



