<div class="default-container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="first_name">Prénom:</label>
      <input id="first_name" type="text" [(ngModel)]="user.first_name" formControlName="first_name">
    </div>

    <div>
      <label for="last_name">Nom:</label>
      <input id="last_name" type="text" [(ngModel)]="user.last_name" formControlName="last_name">
    </div>

    <div>
      <label for="birth_date">Date de naissance:</label>
      <input id="birth_date" type="date" [(ngModel)]="user.birth_date" formControlName="birth_date">
    </div>

    <div>
      <label for="alzheimerStage">Stade d'Alzheimer:</label>
      <input id="alzheimerStage" type="number" [(ngModel)]="user.alzheimerStage" formControlName="alzheimerStage">
    </div>

    <div>
      <label for="profilepicture">Photo de profile:</label>
      <input id="profilepicture" type="file" (change)="onFileSelected($event)" formControlName="profilepicture">
    </div>

    <div>
      <button type="submit">Modifier</button>
      <button type="button" (click)="deleteUser()">Delete User</button>
    </div>

  </form>
</div>
